
<h1>Enter rental details</h1>

<%= form_for @conn, plant_path(@conn, :show), fn res -> %>

<div id="plant">
  <form></form>
</div>
<div class="form-group col-sm-2">
  Plant name
</div>

<div class="form-group col-sm-6">
   <%= text_input res, :name, class: "form-control", id: "name" %>
</div>
<br />
<br />
<br />
<div class="form-group col-sm-2">
  Start date
  </div>
<div class="form-group col-sm-4">
   <%= text_input res, :name, class: "form-control", id: "start_date" %>
</div>
<br />
<br />
<br />
<div class="form-group col-sm-2">
  End date
  </div>
<div class="form-group col-sm-4">
   <%= text_input res, :name, class: "form-control", id: "end_date" %>
</div>

<div class="form-group col-sm-7">
    <%= submit "Query plant catalog", class: "btn btn-primary", id: "submit_button" %>
</div>
<% end %>
