 <table class="table"> 
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody> 
  <%= for plant <- @plant_list do %>
  <tr>
    <td><%= plant.name  %></td>
    <td><%= plant.description  %></td>
    <td><%= plant.price %> </td>
    <td><%= link "Select", to: plant_path(@conn, :form) %></td>
   </tr>  
     
<% end %>
  </tbody>
</table>
</div>